
.main{width:1088px;margin:0 auto; padding-bottom: 20px;}
.list{width:280px;overflow:hidden;float:left;}
.list_title{
    font-size: 20px;
    border-style: none none solid none;
    border-bottom: solid #ddd;
    width: 100%;
    display: inline-block;
    line-height: 68px;
    height: 50px;
    text-indent: 0.5em;
    }
.list_title .f_r{float:right;font-size:14px;}
.list_title .f_l{float:left;}
.list_title span{font-size:14px; margin-left: 0.5em;}
.small_title{padding: 10px 0px 50px 0;font-size: 15px;color: #1d1d1d;}
.small_title li{line-height: 35px;padding-left: 0.5em;margin-bottom: 10px;}
.small_title li a{display: block;text-decoration: none; color: #999;}
.small_title li a:hover,.small_title li a:visited{color:#4E8BA8;cursor: pointer;}
.small_title li a.actived{color:#4E8BA8;}
.small_title li a i{background:url(../img/list.png) no-repeat;display:inline-block;vertical-align:middle;width:18px;height:18px;padding-left:10px;}

.content{width:740px;margin:0 auto 0 60px;overflow:hidden;float:left;}
.news{display:block;overflow:hidden;margin-top:10px;}
.news li{border:1px solid #ddd;display:inline-block;margin: 0 0 10px;}
.news li a:hover{color:#4E8BA8;cursor:pointer;}
.news li a.active{
    color:#4E8BA8;
}
.news li a{
   color: #999999;
   display: block;
}
.news li a:hover h3{
    color:#4E8BA8;

}
.news img{display:block;float:left; width: 240px;height: 150px;}
.news_con{float:left;padding-left:10px;width:480px;}
.news_con .new_title{overflow:hidden;padding:10px 10px 10px 0;}
.news_con .new_title h3{
    color: #333;    
    float: left;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 304px;
    white-space: nowrap;
    }
.news_con .new_title span{float:right;font-size:10px;}
.news_con p{font-size:12px;padding:0 10px 10px 0;}

.article-list .list-bottom{
    text-align: right;
    padding: 40px 0;
}
.article-list .list-bottom .page{
    display: inline-block;
}
.article-list .list-bottom .page a{
     float: left;
    display: block;
    margin-right: 10px;
    border: 1px solid #cdcdcd;
    color: #999999;
    padding: 5px 10px;
    font-size: 14px;
}
.article-list .list-bottom .page a:hover{
    color: #4E8BA8;
}
.article-list .list-bottom .page a.active{
    border: none;
}
.article-detail .article-body{
    padding-bottom: 50px;
    border-bottom: 1px solid #333;: 
}
.article-detail .article-body .title{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}
.article-detail .article-introduction{
    text-align: center;
    padding-bottom: 40px;
}
.article-detail .article-introduction span {
    margin-right: 20px;
    color: #b8b8b8;
}
.article-detail .article-bottom {
    margin-top: 20px;
    margin-bottom: 30px;
}
.article-detail .article-bottom>div{
    width: 300px;
}
.article-detail .article-bottom a{
    color: #999;
    
}
.article-detail .article-bottom a:hover{
    color: #4E8BA8;
}