/*header&&footer*/

/*清除浮动*/
.clearfix:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}

.clearfix > .l {
    float: left;
}

.clearfix > .r {
    float: right;
}

li {
    list-style: none;
}

.icon-point {
    background: url(../img/yitao_sprite.png) no-repeat 0 -33px;
    display: inline-block;
    width: 12px;
    height: 6px;
    vertical-align: middle;
}

#header {
    margin: 0 auto;
    width: 1088px;
}

#header .header-01 {
    line-height: 30px;
    height: 30px;
    color: #8c8c8c;
}

#header .header-01 .l {
    float: left;
}

#header .header-01 .l span {
    color: #da0000;
}

#header .header-01 .r {
    float: right;
}

#header .header-01 .r a {
    border-right: 1px solid #8c8c8c;
    padding: 0 8px;
    color:#8c8c8c;
}

#header .header-01 .r a.last {
    border-right: none;
}

#header .header-02 {
    /*padding: 22px 0;*/
    /*border: 1px saddlebrown solid;*/
}

#header .header-02 .l {
    float: left;
    margin-left: 68px;
    position: relative;
    padding-top: 22px;
}

#header .header-02 .l > div {
    float: left;
}

#header .header-02 .logo {
    position: absolute;
    left: -68px;
    bottom: -6px;
    display: block;

}

#header .header-02 .r {
    float: right;
}

#header .header-02 .h {
    border-right: 1px solid #e5e5e5;
    padding-right: 10px;
}

#header .header-02 .h-lit {
    padding: 10px 10px;
    color: #4e8ba8;
}

#header .header-02 .h-lit p {
    text-align: center;
}

#header .header-02 .r ul li {
    float: left;
    line-height: 100px;
    height: 100px;
    box-sizing: border-box;
    /*width: 38px;*/
    text-align: center;

}

#header .header-02 .r ul li.active {
    border-bottom: 2px solid #4e8ba8;

}

#header .header-02 .r ul li a {
    border-right: 1px solid #e5e5e5;
    padding: 0 20px;
    color: #000000;
}

#header .header-02 .r ul li a.last {
    border-right: none;
}

#header .header-02 .r ul li.active a {
    color: #4e8ba8;
}

#header .header-02 .r ul li:hover {
    border-bottom: 2px solid #4e8ba8;

}

#header .header-02 .r ul li:hover a {
    color: #4e8ba8;
}

.body .banner {
    width: 100%;
    /*height: 300px;*/
}

.body .banner img {
    width: 100%;
    display: block;
}

#footer {
    /*border: 1px pink solid;*/
    background: #f5f6f7;
    color:#000;
}

#footer .footer-01 {
    padding: 26px 0 48px 0;

    margin: 0 auto;
    width: 1088px;
}

#footer .footer-01 .l {
    float: left;
    /*border: 1px solid rebeccapurple;*/
}

#footer .footer-01 h2 {
    font-size: 26px;
    font-weight:normal;
}

#footer .footer-01 .detail {
    margin-top: 10px;

}

#footer .footer-01 .nth01 {
    width: 430px;
}

#footer .footer-01 .nth02 {
    width: 280px;
}

#footer .footer-01 .nth02 .detail a {
    margin-right: 14px;
     margin-bottom:5px;
     display:inline-block;
     color:#000;
}

#footer .footer-01 .nth03 img {
    margin-right: 16px;
}

#footer .footer-01 .nth03 img.last {
    margin-right: 0;
}

#bottom {
    background: #000000;
    color: #fff;
}

#bottom .bottom-01 {
    margin: 0 auto;
    width: 1088px;
}

#bottom .bottom-01 p {
    padding: 10px 0;
}

#bottom .bottom-01 p span {
    padding-left: 120px;
}

#bottom a {
    margin-right: 12px;
    color: #fff;
}

@-moz-keyframes bounce {
    0%,20%,50%,80%,100% {
        -moz-transform: translateY(0)
    }
    40% {
        -moz-transform: translateY(-10px)
    }
    60% {
        -moz-transform: translateY(-6px)
    }
}
@-ms-keyframes bounce {
    0%,20%,50%,80%,100% {
        -ms-transform: translateY(0)
    }
    40% {
        -ms-transform: translateY(-10px)
    }
    60% {
        -ms-transform: translateY(-6px)
    }
}
@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-10px)
    }
    60% {
        transform: translateY(-6px)
    }
}
.a-bounce:hover {
    -webkit-animation: 1s ease;
    -moz-animation: 1s ease;
    -ms-animation: 1s ease;
    animation: 1s ease;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce
}
.icon-next{
        background: url(../img/yitao_sprite.png) no-repeat -113px 0;
    display: inline-block;
    width: 24px;
    height: 16px;
    vertical-align: middle;
}