@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-family: "microsoft yahei";
  list-style: none;
  text-decoration: none;
  font-size: inherit;
}
iframe {
  display: block;
}
.bg11 {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.txt_over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.left,
.fl {
  float: left;
}
.right,
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.wrapper .banner {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center top;
  height: 300px;
}
.wrapper .banner img {
  display: block;
  width: 100%;
  height: auto;
}
.wrapper .location {
  padding: 15px 0 15px 10px;
}
.wrapper .location p {
  font-size: 14px;
  color: #999;
  line-height: 24px;
}
.wrapper .location p span {
  padding: 0 5px;
  display: inline-block;
}
.wrapper .page_list {
  margin-top: 45px;
  padding-right: 10px;
  text-align: right;
}
.wrapper .page_list li {
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #999;
  color: #999;
  background: none;
  text-align: center;
  cursor: pointer;
}
.wrapper .page_list li:hover {
  color: #4f81bc;
  border-color: #4f81bc;
  background: #f6f6f8;
}
.wrapper .page_list li.on {
  color: #000;
  border-color: #f5f6f8;
}
.wrapper .page_list li.on:hover {
  background: none;
}
.wrapper .page_list li + li {
  margin-left: 10px;
}
.wrapper .footer_banner {
  margin-top: 35px;
}
.wrapper .footer_banner img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.wrapper .img {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.wrapper .img img {
  display: block;
  width: 100%;
  height: auto;
}
.wrapper .img .mask {
  display: none;
  transition: opacity 0.3s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/trans_bg_black.png");
  background-repeat: repeat;
  text-align: center;
}
.wrapper .img .mask a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -43px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #fff;
  height: 18px;
  border-radius: 10px;
  padding: 0 10px;
}
.wrapper .img:hover .mask {
  display: block;
}
.wrapper .eg_list {
  /*.eg+.eg{
      margin-left:10px;
    }*/
}
.wrapper .eg_list .eg {
  float: left;
  border: 1px solid #4e8ba8;
  margin: 0 5px;
}
.wrapper .eg_list .eg .img {
  overflow: hidden;
  position: relative;
}
.wrapper .eg_list .eg .img img {
  display: block;
}
.wrapper .eg_list .eg .word {
  padding: 15px;
}
.wrapper .eg_list .eg .word p span {
  font-size: 12px;
  line-height: 24px;
  color: #999;
}
.wrapper .eg_list .eg .word p span:hover,
.wrapper .eg_list .eg .word p span.on {
  color: #4e8ba8;
}
.wrapper.case_detail .wrap_con .btn_slick {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 2;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.wrapper.case_detail .wrap_con .btn_slick.slick_prev {
  left: 0;
  background-image: url("../img/btn_left.png");
}
.wrapper.case_detail .wrap_con .btn_slick.slick_next {
  right: 0;
  background-image: url("../img/btn_right.png");
}
.wrapper.case_detail .wrap_con .b_tit {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
}
.wrapper.case_detail .wrap_con .tab_case {
  padding: 36px 0 10px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-for {
  width: 1100px;
  height: 739px;
  overflow: hidden;
  margin-bottom: 15px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-for .btn_slick {
  width: 48px;
  height: 86px;
  margin-top: -43px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-for .btn_slick.slick_prev {
  left: 20px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-for .btn_slick.slick_next {
  right: 20px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-nav {
  width: 1100px;
  height: 142px;
  overflow: hidden;
}
.wrapper.case_detail .wrap_con .tab_case .slider-nav .btn_slick {
  width: 23px;
  height: 44px;
  margin-top: -22px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-nav .btn_slick.slick_prev {
  background-image: url("../img/btn_left1.png");
  left: 10px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-nav .btn_slick.slick_next {
  background-image: url("../img/btn_right1.png");
  right: 10px;
}
.wrapper.case_detail .wrap_con .tab_case .slider-nav .con_slider .img {
  width: 210px;
  margin: 0 auto;
}
.wrapper.case_detail .wrap_con .case_desc {
  padding-top: 10px;
  border-top: 1px solid #999;
}
.wrapper.case_detail .wrap_con .case_desc h1 {
  font-size: 16px;
  color: #000;
  height: 36px;
  padding-left: 10px;
  background: #999;
  line-height: 36px;
}
.wrapper.case_detail .wrap_con .case_desc .desc_01 {
  background: #ccc;
  text-align: center;
}
.wrapper.case_detail .wrap_con .case_desc .desc_01 li {
  font-size: 16px;
  height: 36px;
  display: inline-block;
  line-height: 36px;
}
.wrapper.case_detail .wrap_con .case_desc .desc_01 li + li {
  margin-right: 50px;
}
.wrapper.case_detail .wrap_con .case_desc p {
  font-size: 16px;
  line-height: 24px;
  text-indent: 2em;
  color: #999;
  padding: 15px;
}
.wrapper.case_detail .wrap_con .recommend {
  margin-top: 20px;
}
.wrapper.case_detail .wrap_con .recommend h1 {
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
}
.wrapper.case_detail .wrap_con .recommend .eg_list .eg {
  margin: 0 4px;
}
.wrapper.case_detail .wrap_con .recommend .eg_list .eg .img {
  width: 210px;
  height: 142px;
}
.wrapper.case_center .wrap_con {
  position: relative;
  z-index: 2;
}
.wrapper.case_center .wrap_con .con_result {
  background: #f5f6f8;
  padding-bottom: 10px;
}
.wrapper.case_center .wrap_con .condition {
  background: #f5f6f8;
  padding: 20px 0 25px;
}
.wrapper.case_center .wrap_con .condition li {
  font-size: 14px;
  padding-left: 20px;
  line-height: 34px;
  border-bottom: 1px dashed #999;
  position: relative;
  color: #999;
}
.wrapper.case_center .wrap_con .condition li .b {
  font-weight: bold;
}
.wrapper.case_center .wrap_con .condition li .on {
  color: #4d8aa7;
}
.wrapper.case_center .wrap_con .condition li i {
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 5px;
  left: 25px;
}
.wrapper.case_center .wrap_con .condition li b {
  font-weight: bold;
  padding-left: 45px;
  margin-right: 27px;
  display: inline-block;
}
.wrapper.case_center .wrap_con .condition li span {
  margin-right: 45px;
  display: inline-block;
  cursor: pointer;
}
.wrapper.case_center .wrap_con .condition li span:hover {
  color: #4d8aa7;
}
.wrapper.case_center .wrap_con .condition li.last_child {
  border-bottom: 0;
}
.wrapper.case_center .wrap_con .eg_list .eg {
  margin: 7px;
}
.wrapper.case_center .wrap_con .eg_list .eg .img {
  width: 258px;
  height: 200px;
}
.wrapper.case_center .wrap_con .page_list {
  text-align: right;
}
.wrapper.activity_list .wrap_con {
  border-top: 1px solid #999;
}
.wrapper.activity_list .wrap_con .b_tit {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 30px 10px;
}
.wrapper.activity_list .wrap_con .ac_list .ac {
  border: 1px solid #999;
  margin-bottom: 20px;
}
.wrapper.activity_list .wrap_con .ac_list .ac .img {
  width: 450px;
  height: 258px;
  overflow: hidden;
}
.wrapper.activity_list .wrap_con .ac_list .ac .img img {
  display: block;
}
.wrapper.activity_list .wrap_con .ac_list .ac .ac_con {
  width: 608px;
  padding: 20px;
}
.wrapper.activity_list .wrap_con .ac_list .ac .ac_con .ht {
  position: relative;
  margin-bottom: 15px;
}
.wrapper.activity_list .wrap_con .ac_list .ac .ac_con .ht h1 {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  width: 332px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper.activity_list .wrap_con .ac_list .ac .ac_con .ht span {
  font-size: 12px;
  line-height: 24px;
  color: #999;
  text-align: right;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper.activity_list .wrap_con .ac_list .ac .ac_con p {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
.wrapper.activity_list .wrap_con .ac_list .ac:hover {
  border-color: #4e8ba8;
}
.wrapper.activity_list .wrap_con .ac_list .ac:hover .ac_con .ht h1 {
  color: #4e8ba8;
}
.wrapper.activity_list .wrap_con .ac_list .ac:hover .ac_con .ht span {
  color: #4e8ba8;
}
.wrapper.activity_list .wrap_con .ac_list .ac:hover .ac_con p {
  color: #4e8ba8;
}
.wrapper.activity_list .wrap_con .page_list {
  text-align: center;
  padding-bottom: 100px;
}
.activity_detail .location {
  border-bottom: 1px solid #999;
}
.activity_detail .wrap_con .ac_detail .b_tit {
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  color: #000;
  text-align: center;
}
.activity_detail .wrap_con .ac_detail .mark {
  text-align: center;
}
.activity_detail .wrap_con .ac_detail .mark li {
  display: inline-block;
  font-size: 12px;
  color: #999;
}
.activity_detail .wrap_con .ac_detail .mark li + li {
  margin-left: 30px;
}
.activity_detail .wrap_con .ac_detail .detail_con {
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #999;
  text-indent: 2em;
}
.activity_detail .wrap_con .ac_detail .detail_con p {
  display: block;
  margin: 10px 0;
}
.activity_detail .wrap_con .ac_detail .detail_con img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}
.activity_detail .wrap_con .ac_detail .more_ar {
  display: block;
  padding: 15px 105px;
  border-top: 1px solid #999;
  padding-bottom: 50px;
}
.activity_detail .wrap_con .ac_detail .more_ar li {
  width: 285px;
}
.activity_detail .wrap_con .ac_detail .more_ar li a {
  color: #999;
  font-size: 12px;
  line-height: 20px;
}
.activity_detail .wrap_con .ac_detail .more_ar li a:hover {
  color: #4c8ca8;
}
.wrapper.service .btn_zx {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  border: 2px solid #a0a0a0;
  border-radius: 3px;
  padding: 15px 65px;
  transform: translateY(0px);
  transition: all 0.2s linear ;
}
.wrapper.service .btn_zx:hover {
  transform: translateY(-3px);
}
.wrapper.service .btn_zx.on {
  background: #226275;
  color: #fff;
  border-color: #226275;
}
.wrapper.service .wrap_con .part {
  padding-top: 78px;
  padding-bottom: 55px;
}
.wrapper.service .wrap_con .part .tit {
  color: #000;
  text-align: center;
  margin-bottom: 75px;
}
.wrapper.service .wrap_con .part .tit h1 {
  font-size: 26px;
  line-height: 36px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c9c9c9;
}
.wrapper.service .wrap_con .part .tit h1 span {
  color: #4e8ba8;
}
.wrapper.service .wrap_con .part .tit h2 {
  font-size: 14px;
  line-height: 24px;
  color: #4e8ba8;
}
.wrapper.service .wrap_con .part:nth-child(even) {
  background: #f5f6f8;
}
.wrapper.service .wrap_con .part1 .kp_list > li {
  float: left;
  width: 353px;
  height: 625px;
  margin: 0 6px;
}
.wrapper.service .wrap_con .part1 .kp_list > li .t {
  background: #226275;
  color: #fff;
  height: 70px;
  position: relative;
  border-radius: 8px;
  text-align: center;
}
.wrapper.service .wrap_con .part1 .kp_list > li .t b {
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  height: 100%;
  display: inline-block;
}
.wrapper.service .wrap_con .part1 .kp_list > li .t ul {
  display: inline-block;
}
.wrapper.service .wrap_con .part1 .kp_list > li .t ul li {
  text-align: left;
  font-size: 14px;
  line-height: 22px;
}
.wrapper.service .wrap_con .part1 .kp_list > li .img {
  margin: 10px 0 20px;
  width: 353px;
  height: 353px;
}
.wrapper.service .wrap_con .part1 .kp_list > li .desc {
  margin: 0 10px;
}
.wrapper.service .wrap_con .part1 .kp_list > li .desc p {
  transition: all 0.3s linear;
  padding: 10px 0;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  height: 100px;
  display: block;
  margin: 0 auto;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
.wrapper.service .wrap_con .part1 .kp_list > li .desc a {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #808080;
  margin-top: 10px;
  transform: translateX(0);
  transition: all 0.2s linear;
}
.wrapper.service .wrap_con .part1 .kp_list > li .desc a:hover {
  transform: translateX(5px);
}
.wrapper.service .wrap_con .part1 .kp_list li:hover .desc p {
  transform: translateY(-5px);
}
.wrapper.service .wrap_con .part1 .kp_list .l1 .t {
  background: #226275;
}
.wrapper.service .wrap_con .part1 .kp_list .l2 .t {
  background: #77933c;
}
.wrapper.service .wrap_con .part1 .kp_list .l3 .t {
  background: #4f81bd;
}
.wrapper.service .wrap_con .part2 {
  background: #f5f6f8;
}
.wrapper.service .wrap_con .part2 .bz_list li {
  float: left;
  width: 250px;
  margin: 0 12px;
}
.wrapper.service .wrap_con .part2 .bz_list li .img {
  height: 250px;
}
.wrapper.service .wrap_con .part2 .bz_list li .img .mask {
  /*opacity:1;
			  filter:Alpha(opacity=100);*/
  display: block;
  text-align: center;
  padding-top: 60px;
  height: 100px;
}
.wrapper.service .wrap_con .part2 .bz_list li .img .mask h1 {
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  border-radius: 15px;
  padding: 0 20px;
  display: inline-block;
  border: 1px solid #fff;
}
.wrapper.service .wrap_con .part2 .bz_list li .desc {
  margin-top: 10px;
}
.wrapper.service .wrap_con .part2 .bz_list li .desc p {
  font-size: 12px;
  color: #808080;
  line-height: 20px;
}
.wrapper.service .wrap_con .part2 .locale .t1 {
  border-top: 1px solid #a0a0a0 ;
  border-bottom: 1px solid #a0a0a0 ;
  position: relative;
  margin: 35px 0 20px;
}
.wrapper.service .wrap_con .part2 .locale .t1 h1 {
  font-size: 16px;
  color: #808080;
  width: 50%;
  line-height: 40px;
}
.wrapper.service .wrap_con .part2 .locale .t1 a {
  position: absolute;
  top: 3px;
  right: 0;
  color: #fff;
  display: inline-block;
  padding: 3px 20px;
}
.wrapper.service .wrap_con .part2 .locale > ul {
  width: 1100px;
  height: 408px;
  margin: 0 auto;
  display: block;
  background: url("../img/service_part2_1_bg.jpg") no-repeat center top;
}
.wrapper.service .wrap_con .part2 .locale > ul li {
  width: 238px;
  height: 400px;
  overflow: hidden;
  float: left;
}
.wrapper.service .wrap_con .part2 .locale > ul li a {
  transition: all 0.3s linear;
  padding-top: 145px;
  padding-bottom: 145px;
  display: block;
  color: #fff;
  text-align: center;
}
.wrapper.service .wrap_con .part2 .locale > ul li a h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
}
.wrapper.service .wrap_con .part2 .locale > ul li a h2 {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.wrapper.service .wrap_con .part2 .locale > ul li:hover a {
  padding-top: 135px;
}
.wrapper.service .wrap_con .part2 .locale > ul li + li {
  margin-left: 45px;
}
.wrapper.service .wrap_con .part3 .designer_list li {
  float: left;
  margin: 10px 2px;
  overflow: hidden;
  width: 361px;
  height: 275px;
}
.wrapper.service .wrap_con .part3 .designer_list li img {
  transform: scale(1);
  transition: all 0.3s linear;
}
.wrapper.service .wrap_con .part3 .designer_list li img:hover {
  transform: scale(1.02);
}
.wrapper.service .wrap_con .part3 .btn_list {
  margin-top: 40px;
  text-align: center;
}
.wrapper.service .wrap_con .part3 .btn_list .btn_zx {
  padding: 18px 65px;
  display: inline-block;
  margin: 0 10px;
}
.wrapper.service .wrap_con .part4 {
  background: #f5f6f8;
}
.wrapper.service .wrap_con .part4 .con {
  width: 1100px;
  height: 352px;
  background: url(../img/service_part4_bg.jpg) no-repeat center top;
}
.wrapper.service .wrap_con .part5 .p5_con .show {
  width: 360px;
}
.wrapper.service .wrap_con .part5 .p5_con .cl_list {
  background: url("../img/service_part5_bg.jpg") no-repeat center top;
  width: 703px;
  height: 516px;
  padding: 24px 0 0 17px;
}
.wrapper.service .wrap_con .part5 .p5_con .cl_list li {
  width: 310px;
  height: 99px;
  float: left;
  margin: 12px 17px;
}
.wrapper.wom_card .wrap_con .show_type_list {
  text-align: right;
  padding-bottom: 8px;
  padding-right: 10px;
  border-bottom: 1px solid #999;
}
.wrapper.wom_card .wrap_con .show_type_list li {
  display: inline-block;
  margin-left: 40px;
}
.wrapper.wom_card .wrap_con .show_type_list li a {
  color: #000;
  font-size: 20px;
  line-height: 24px;
}
.wrapper.wom_card .wrap_con .show_type_list li a.on {
  color: #4e8ba8;
}
.wrapper.wom_card .wrap_con .card_list {
  margin-top: 20px;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid {
  margin-left: 5px;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item {
  transition: transform 0.3s linear ;
  transform: translateY(0px);
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item .con {
  padding: 5px;
  width: 340px;
  border: 1px solid #4e8ba8;
  background: #fff;
  float: left;
  margin: 10px 0px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px #999999;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item .img {
  width: 340px;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item h1 {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  padding: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #999;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item p {
  font-size: 14px;
  line-height: 24px;
  color: #999;
  padding: 5px 15px 0;
  text-indent: 2em;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item .info {
  margin-top: 15px;
  background: #f5f6f7;
  padding: 10px 15px 5px;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item .info i {
  width: 62px;
  height: 62px;
  overflow: hidden;
  border-radius: 100%;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item .info > ul li {
  font-size: 14px;
  color: #000;
  line-height: 18px;
  padding: 0 0 5px 25px;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item .info > ul li a {
  color: #4e8ba8;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item .info > ul li a:hover {
  color: #000;
}
.wrapper.wom_card .wrap_con .card_list .wom_grid li.item:hover {
  transform: translateY(-10px);
}
