body {
    min-width: 1200px;
    background: #e7e8eb;
    font-size: 14px;
}
.head_box {
    position: relative;
    background-color: #fff;
    border-top: 4px solid #44b549;
    border-bottom: 1px solid #d9dadc;
}
.head .inner.wrp {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.head .inner {
    height: 60px;
}

.logo {
    float: left;
    padding-top: 10px;
    font-size: 24px;
}
.account {
    font-size: 0;
}
.account {
    float: right;
    padding-top: 10px;
}
.account_meta {
    font-size: 14px;
}
.account_meta {
    display: inline-block;
    vertical-align: bottom;
    float: right;
}
.account_logout a {
    display: inline-block;
    margin-left: 5px;
    line-height: 16px;
    margin-top: 22px;
    padding-left: 14px;

}
.account_logout a:nth-of-type(2){
    border-left: 1px solid #e7e7eb;
}
.account_meta_primary a {
    color: #222;
}
.body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 0 88px;
}

.container_box {
    border: 1px solid #d9dadc;
    background-color: #fff;
}
.container_box {
    min-height: 700px;
}

.container_box.cell_layout .col_side, .container_box.cell_layout .col_main {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
}

.container_box.cell_layout .col_side {
    width: 17.5%;
    max-width: 208px;
}

.col_side {
    min-height: 1px;
    background-color: #fff;
}
.side_l .col_side {
    border-right: 1px solid #e7e7eb;
}
.menu_box {
    margin-bottom: 150px;
}
.menu.no_extra {
    border-top-width: 0;
    margin-top: 13px;
}
.menu {
    padding-bottom: 6px;
    border-top: 1px solid #e7e7eb;
}
.menu {
    padding-top: 6px;
}

.menu_title {
    margin-bottom: 0;
}
.menu_title {
    position: relative;
    padding: 0 30px 0;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 34px;
    color: #8d8d8d;
}
.icon_menu {
    margin-right: 10px;
    margin-top: -0.2em;
    background:url(
    https://res.wx.qq.com/mpres/htmledition/images/icon/menu/icon_menu_function.png
    ) no-repeat;
}
.icon_menu {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
}
.menu_item.selected {
    background-color: #44b549;
    color: #fff;
}
.menu_item {
    line-height: 34px;
}
.menu_item.selected a {
    color: #fff;
}
.menu_item a {
    display: block;
    padding: 0 0 0 58px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #222;
}

.container_box.cell_layout .col_side, .container_box.cell_layout .col_main {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
}
.container_box.cell_layout .col_main {
    width: 2000px;
    height: 700px;
}
.container_hd, .main_hd {
    line-height: 40px;
    border-bottom: #ccc solid 1px;
}
.container_hd h2, .main_hd h2 {
    font-size: 16px;
    padding: 0 30px;
    line-height: 75px;
}
.container_hd h2, .main_hd h2 {
    font-weight: 400;
    font-style: normal;
}
.container_bd, .main_bd {
    padding-bottom: 30px;
    background-color: #f4f5f9;
}

.appmsg_editor {
    position: relative;
    margin-top: 0;
}
.appmsg_editor .inner {
    padding: 20px;
    min-height: 350px;
}
.appmsg_edit_item {
    padding-bottom: 1em;
}

.appmsg_edit_item .frm_label {
    display: block;
    width: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 4px;
}
/*.appmsg_edit_item .frm_label:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}*/
.frm_input_box.counter_in {
    width: 228px;
    padding-right: 60px;
}
.appmsg_edit_item .frm_input_box {
    display: block;
    height: auto;
    min-height: 30px;
    border-color: #e7e7eb;
}
.frm_input, .frm_textarea {
    width: 228px;
    border: 0;
    outline: 0;
}
.frm_input {
    height: 24px;
    margin: 4px 0;
}



.frm_input_box.append .frm_input_append {
    position: absolute;
    top: 0;
    right: .8em;
}
.frm_input_box.with_counter .frm_counter {
    width: 50px;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.frm_input_box.counter_in .frm_counter {
    right: 0;
    text-align: right;
    padding-right: 10px;
}
.appmsg_edit_item .title {
    font-weight: 400;
    font-style: normal;
    float: left;
}
.btn-submit{
    display: block;
    height: 26px;
    line-height: 26px;
    background-color: #44b549;
    /* border: 0; */
    outline: 0;
    padding: 0 22px;
    color: #fff;
    width: 80px;
    text-align: center;
    margin-left: 20px;
    border-radius: 4px;
}
.btn-submit:active{
    opacity: 0.7;

}