body{
    max-width: 640px;
    margin: 0 auto;
}
img{
    width: 100%;
}
#article_text img{
    width: 88%;
    margin: 10 auto;
    display: block;
}
.home {
    padding-bottom: 20px;
    background-color: #f5f5d5;
    overflow: hidden;
    position: relative;
}

.main ul {
    padding: 0 20px;
    margin: 5px 0;
}

.main li {
    margin: 10px 0;
    font-size: 16px;
    list-style: none;
    background-color: #ede;
    border-radius: 9px;
    padding: 5px;
    color: #000;
}

.main li a {
    color: #000;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main header {
    position: relative;
    z-index: 2;
    height: 40px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    border-top: #ccc solid 5px;
}
.item-list{
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.main .menu {
    position: absolute;
    left: 20px;
    top: 6px;
    color: #E8E828;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    /* padding: 2px 5px; */
    width: 24px;
    height: 26px;
    border: #E0E028 solid 1px;
    line-height: 24px;
    border-radius: 3px;
}

.home .content-wrap {
    padding: 10px 20px 0 20px;
}

.home .main {
    -webkit-transform: translateX(0);
    -webkit-transition: -webkit-transform .3s ease;
    z-index: 2;
    position: relative;
    background-color: #f5f5d5;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    min-height: 100%;
}

.home .main.opend {
    -webkit-transform: translateX(220px);

}

@keyframes anih1 {
    0%{
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);

    }
}
.main h1.animate{
    -webkit-animation: anih1 1s;
}
.sidebar {
    width: 220px;
    position: absolute;
    z-index: 0;
    box-shadow: inset 1px 0 3px #111;
    background: #111;
    min-height: 100%;
    top: 0;
    left: 0;
}

.sidebar img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
}

div.sidebar.animate {
    opacity: 1;

}

div.sidebar ul {
    margin-top: 110px;
    position: relative;
}

div.sidebar ul li {
    list-style: none;
    margin-top: 40px;
    text-align: left;
    padding-left: 0;
    font-size: 23px;
}

div.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}
div.sidebar ul li a.active {
    color: #EDE;
}


div.sidebar.animate ul li {
    margin-left: 70px;
    -webkit-transition: all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}

div.sidebar.animate li:nth-of-type(1) {
    transition-delay: 0.0s;
}

div.sidebar.animate li:nth-of-type(2) {
    transition-delay: 0.06s;
}

div.sidebar.animate li:nth-of-type(3) {
    transition-delay: 0.12s;
}

div.sidebar.animate li:nth-of-type(4) {
    transition-delay: 0.18s;
}

div.sidebar.animate li:nth-of-type(5) {
    transition-delay: 0.24s;
}

@keyframes bounce {
    /*通过@keyframes规则,创建bounce动画;*/
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(-5px);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.home li.ani {
    -webkit-animation: bounce 1s;
}

.model-3 {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}

section {

}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    border: 5px solid transparent;
}

.model-3 .spinner {
    border-bottom-color: #19A5DF;
    border-top-color: #19A5DF;
    -webkit-animation: rotate 1.5s linear 0s infinite;
    animation: rotate 1.5s linear 0s infinite;
}
.model-3 .spinner.liu {
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-bottom-color: #19A5DF;
    border-top-color: #19A5DF;
    -webkit-animation: rotate 1.5s linear 0s infinite;
    animation: rotate 1.5s linear 0s infinite;
}
.pagination{
    text-align: center;
    margin: 10px 0;
}
.pagination a{
    border: #EEDDEE solid 1px;
    border-radius: 4px;
    padding: 4px 16px;
    color: #666;
}
.pagination a:nth-of-type(1){
    margin-right: 6px;
}
.pagination a.dis{
    pointer-events:none;
    color: #ccc;
}
/*.mask {
    z-index: 99;
    background-color: #f5f5d5;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
}*/

/*item css*/
.item {
    font-size: 28px;
}

.item .post-title {
    font-family: Oswald, arial, Georgia, serif;
    margin-bottom: 20px;
    font-size: 56px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


#author {
    text-align: center;
}

.entry {
    line-height: 1.5;
}


.post-inner {
    padding-top: 40px;
}

.entry p:first-child {
    text-indent: 0em;
}

.entry p {
    padding-top: 0;
    padding-bottom: 0.5em;
    text-indent: 2em;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.item .container {
    width: 560px;
    margin: 0 auto;
}

.chat {
    position: fixed;
    bottom: 50px;
    right: 0;
    display: block;
    padding: 5px 0 5px 8px;
    background: -webkit-linear-gradient(left, #e5e5be 0, #003973 100%);
    background: linear-gradient(to left, #e5e5be 0, #003973 100%);
    color: #FFF;
    width: 20px;
    border-radius: 5px 0 0 5px;
}

.goback {
    position: fixed;
    right: 20px;
    bottom: 25px;
    width: 80px;
    height: 80px;
    z-index: 3;
}

.goback img {
    width: 100%;
    height: 100%;
}

.random_box {
    display: inline-block;
    margin: 15px 0 35px;
    padding: 30px 0 0;
    text-align: center;
    width: 100%;
}

.random_article {
    text-decoration: none;
    background-color: #FFB94B;
    border-color: #D69E31 #E3A037 #D5982D;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #8F5A0A;
    cursor: pointer;
    font: bold 28px Arial, Helvetica;
    padding: 10px 30px;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
}
/*wenzhangba特殊样式*/
.a_detail p{
    text-indent: 0;
}
.a_detail a{
    color: #666;
}

/*意见反馈页面样式*/
.feed-body{
    background-color: #ededed;
    font-size: 28px;
}
.feedback section {
    padding: 20px;
    overflow: hidden;
}
.feedback .icon-back{
    background: url("../img/Arrow-Left.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    display: inline-block;
    position: absolute;
    left: 16px;
    top: 10px;

}
.feedback header{
    position: relative;
    z-index: 2;
    height: 80px;
    line-height: 80px;
    background: #fff;
    text-align: center;
    border-top: #ccc solid 10px;
    font-size: 36px;
}
.feedback .feed-tips{
    margin-bottom: 20px;
}
.feed-tar, .feed-frame .feed-inp {
    border: 1px solid #adadad;
    background-color: #fff;
    width: 96%;
    padding: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 180px;
}
.default {
    color: #646464;
    font-size: 24px;
    font-weight: normal;
}
.feed-frame {
    padding: 20px 0;
}
.feed-frame .feed-inp {
    height: 50px;
    margin-top: 10px;
}
.icon-btn {
    display: block;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    font-size: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #FFFFFF #FFFFFF #FFFFFF;
    border-radius: 3px;
    -webkit-border-radius: 6px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#4BBC97),to(#4BBC97));
    -webkit-box-shadow: 0 1px 1px 0 white inset;
    box-shadow: 0 1px 1px 0 white inset;
}
.icon-btn:active{
    background-color:#4BBC97 ;
    opacity: 0.7;
}
.icon-btn.dis{
    background: #ccc;
    color: #000;
    pointer-events: none;
}
#ds-thread{
    width: 560px;
    margin: 0 auto;
    z-index: 1;
}