@media (max-device-width: 480px) and (orientation: portrait) {
    @-ms-viewport {
        width: 320px;
    }
}

body {
    background-color: #efeff4;
    height: auto;
}

.page-1 {
    width:260px;
    margin:200px auto;
}
.page-1 p{
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}
.page-1 a{
    background-color:#fff0ff;
    color: #000;
    border: 1px solid #dddddd;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 36px;
    display: inline-block;
    border-radius: 0 10px 10px 0;
}
.page-1 a:active{
    background-color: #ffab67;
    color: transparent;
}
#username{
    width: 200px;
    border-radius: 10px 0 0 10px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #ccc;
    float: left;
    text-indent: 0.5em;
    border-right: none;
}

.message {
    border-bottom: 0;
    background-color: #efeff4;
    margin-top: 32px;
    margin-bottom: 46px;
    overflow: scroll;
    min-height: 300px;

}

.message:after {
    clear: both;
    overflow: hidden;
    height: 0;
    display: block;
    content: '';
}

.message .content {
    background: #EFEFF4;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    color: #666;
}

section {
    padding: 5px;
    clear: both;
}

section.service {
    float: left;
}

section.service > div {
    max-width: 225px;
    display: inline-block;
    position: relative;
    padding: 2px 10px;
    margin: 0 20px 0 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 0 1px #fff;
    vertical-align: top;
    white-space: normal;
    Word-break: break-all;
}

section.service > div:before {
    content: "";
    position: absolute;
    left: -5px;
    top: 4px;
    width: 0;
    height: 0;
    border-top: solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 4px solid transparent;
}

section.user {
    float: right;
    text-align: right;
}

section.user > div {
    max-width: 225px;
    position: relative;
    display: inline-block;
    padding: 2px 6px;
    margin: 0 10px 0 12px;
    text-align: left;
    border-radius: 5px;
    color: #fff;
    box-shadow: inset 0 0 1px #007aff;
    background-color: #007aff;
    white-space: normal;
    Word-break: break-all;
}

section.user > div:before {
    content: "";
    position: absolute;
    right: -5px;
    top: 4px;
    width: 0;
    height: 0;
    border-top: solid transparent;
    border-left: 7px solid #007aff;
    border-bottom: 4px solid transparent;
}

.user > span {

    font-weight: normal;
    font-size: 14px;
    color: #f60;
    max-width: 45px;
    overflow: hidden;
    float: right;
}

.robot > span, .service > span {

    color: #006e9c;
    font-weight: 700;
}

.service > span {
    max-width: 45px;
    font-weight: normal;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    float: left;
}

.system {
    text-align: center;
    color: #999;
    font-size: .8em;
}

/* 底部*/
.bottom-box {
    padding: 8px 10px;
    box-shadow: 0 0 1px #000;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.bottom-box .left {
    background-color: #fff;
    height: 28px;
    line-height: 25px;
    width: 70%;
    float: left;
}

.bottom-box .right {
    width: 30%;
    float: left;
}

.action-a {
    color: #8c8c8c;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fbfbfb;
    box-shadow: 0 0 1px #000, 0 2px 2px #eee;
    display: block;
    width: 100%;
}

.action-a:active {
    background-color: #0076ff;
    color: #fff0ff;
}

.left input {
    height: 28px;
    width: 96%;
    font-size: 14px;
    border: 1px solid #ccc;
}

section .msg-system {
    color: #999;
    font-size: 13px;
}

section .msg-system a.isClicked {
    color: #999;
}

#chatbox {
    display: none;
}

.header {
    background: #f5f5d5;
    height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header span:nth-of-type(1) {
    text-align: left;
    margin-left: 10px;
}

.header a {
    color: #000;
}

.header .r-span {
    float: right;
    margin-right: 10px;
}