@charset "utf-8";
/* CSS Document */
div{margin:0;padding:0;}
ul li{list-style:none;}
.div_bg{background:url(../images/bg.png) no-repeat;width:165px;height:276px;position:relative;}
.div_bg2{background:url(../images/%E5%9B%BE%E5%B1%82%205.png) no-repeat;width:137px;height:236px;margin:0 15px;padding-top:30px;position:absolute;top:30px;left:0;}
.div_bg3{background:url(../images/%E5%9B%BE%E5%B1%82%205%20%E5%89%AF%E6%9C%AC.png) no-repeat;width:108px;height:182px;margin:0 15px;}
.icon{width:37px;height:36px;position:absolute;top:-15px;left:0;}
.div_bg3 span{font-size:18px;color:#fff;display:inline-block;margin-left:30px;margin-top:-30px;}
.div_bg3 p{font-size:13px;color:#7194cc;width:150px;margin-top:1px;}
.icon_img{margin-left:-28px;margin-top:1px;}
.d_content{width:170px;height:32px;position:absolute;top:30%;}
.d_content .content{position:absolute;top:10px;margin-left:-35px;}
.d_content .content .cur{background:url(../images/%E5%9B%BE%E5%B1%82%207.png) no-repeat;width:170px;}
.content li{font-size:13px;line-height:32px;text-align:center;color:#fff;}