.calendar {
    border: 2px solid #b1daf5;
    width: 451px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 2px #e8f3fc;
    position: absolute;
    left: 680px;
    top: 258px;
}

table {
    border-spacing: 0
}
.calendar_num {
    position: relative;
    width: 454px;
    height: 28px;
    background: #67c1fe;
    margin: -2px 0 0 -2px
}

.calendar_num li {
    float: right;
    width: 55px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    color: #fff
}

.calendar_num li.bold {
    font-weight: 700
}

.calendar_left {
    position: relative;
    float: left;
    width: 65px;
    border-right: 1px solid #eaeaea;
    text-align: center;
    color: #1a477e;
    font-weight: 700
}

.calendar_price01,.calendar_right .team {
    text-align: right;
    display: block
}

.calendar_left p {
    padding: 159px 0
}

.calendar_left .border {
    border-bottom: 1px solid #eaeaea
}

.calendar_left .bgblue {
    background-color: #f4fcff
}

.pkg_double_month p {
    padding: 94px 0
}

.pkg_circle_bottom,.pkg_circle_top {
    background: url(http://pic.c-ctrip.com/vacation_v1/bg_calendar.png?20130809.png) no-repeat;
    display: block;
    position: absolute;
    width: 36px;
    padding-top: 19px;
    height: 0;
    overflow: hidden;
    left: 50%;
    margin-left: -18px;
    text-decoration: none
}

.pkg_circle_top {
    top: 10px;
    background-position: 0 -60px
}

.pkg_circle_bottom {
    bottom: 10px;
    background-position: 0 -93px
}

.pkg_circle_top:hover {
    background-position: -40px -60px
}

.pkg_circle_bottom:hover {
    background-position: -40px -93px
}

.pkg_circle_top_disable,.pkg_circle_top_disable:hover {
    background-position: -80px -60px;
    cursor: default
}

.pkg_circle_bottom_disable,.pkg_circle_bottom_disable:hover {
    background-position: -80px -93px;
    cursor: default
}

.calendar_right {
    float: left;
    width: 385px
}

.calendar_right td {
    height: 44px;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 1px;
    vertical-align: top;
    color: #aaa
}

.calendar_right .date {
    display: block
}

.calendar_right .team {
    height: 16px;
    line-height: 16px
}

.calendar_right .on {
    cursor: pointer
}

.calendar_right .on .date {
    color: #333
}

.calendar_right .on .team {
    color: #390
}

.calendar_right .on .calendar_price01 {
    color: #ff6000
}

.calendar_right .bgblue {
    background-color: #f4fcff
}

.calendar_right a {
    display: block;
    width: 46px;
    height: 40px;
    color: #aaa;
    padding: 2px 4px
}

.calendar_right a:hover {
    text-decoration: none
}

.calendar_right .on a:hover {
    position: absolute;
    border: 1px solid #febe32;
    margin: -1px 0 0 -1px;
    background-color: #fffbee
}

.calendar_loding {
    float: right;
    width: 591px;
    text-align: center;
    padding: 147px 0
}

.calendar_loding img {
    vertical-align: middle;
    margin-right: 10px
}
