
<div class="page feedback">
    <header><a class="icon-back" href="javascript: history.go(-1)"></a> 意见反馈</header>
    <section>
        <p class="feed-tips">欢迎您提出宝贵的建议和意见，您留下的每个字我们都将认真聆听，落实改进</p>
        <textarea class="feed-tar default" id="feedbackMessage" placeholder="请输入您的意见反馈（500字以内）"></textarea>
        <div class="feed-frame">
            <p>联系方式：</p>
            <input  type="text" id="contact" class="feed-inp default" required="required" placeholder="请输入联系方式（QQ or 邮箱）">
        </div>
        <a href="javascript:void(0)" id="btn-submit" class="icon-btn">提交</a>
    </section>
</div>

